/* html {
    background-color: var(--tg-theme-secondary-bg-color);
} */

body {
    font-family: sans-serif;
}

.mainTitle {
    color: var(--tg-theme-text-color);
}

#actionButton {
    background-color: var(--tg-theme-button-bg-color);
    color: var(--tg-theme-button-text-color);
}

